input {
  border: none;
}

input.input-number {
  height: 30px;
  border-bottom: 1px solid $primary-color;
  background-color: transparent;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield;
}

button.btn {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 20%;
  border: none;
  opacity: .4;
  background-color: $primary-color;
  color: #FFF;
  font-size: 18px;
  transform: all 2s ease-in-out;
}

button.btn{
  &:hover {
    opacity: 1;
  }
}

#clock {
  border: 3px solid $primary-color;
  margin-bottom: 25px;
  font-size: 48px;
  padding: 100px;
  color: $primary-color;
  font-family: 'Viga';
}

.card {
  padding: 50px 20px;
  border: 3px solid $primary-color;
  box-shadow: 5px 10px 10px #bbb;
}

#pomodoro-clock-task {
  background-color: transparent;
  width: 200px;
  border-bottom: 1px solid $primary-color;
  margin-top: 20px;
  text-align: center;
}

@media screen and (min-width: 968px) {
  .card {
    border-radius: 30px;
  }
}